.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep


# ide
.vscode
.idea
tempAsset
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
logs

# dependencies
node_modules/
dist/